<a [routerLink]="post.public_id">
    <div class="blog-post-card">
        <div class="blog-post-card-image-container">
            <img class="blog-post-card-image" [src]="post.image">
        </div>
        <div class="blog-post-card-content">
            <div class="blog-post-card-time">
                <div class="date secondary-label">{{ post.published_at |
                    date:'MM.dd.yy' }}</div>
            </div>
            <div class="blog-post-card-title label">{{ post.title }}</div>
            <div class="blog-post-card-description secondary-label">{{ post.description }}</div>
        </div>
    </div>
</a>